This is a draft. Go to [analyze_data.ipynb](/workspaces/weather-scraper-analyzer/notebooks/03-data_analysis/analyze_data.ipynb) for actual work.

# <font color = 'orange'> 03-data_anaylsis issue </font>
### Working on <font color='green'> 03-data_analysis </font> branch

#### Importing libraries and creating the pd dataframes

In [67]:
# import pandas as pd, sqlite3

# conn = sqlite3.connect(r"/workspaces/weather-scraper-analyzer/data/weather_data.db")
# hourly_df = pd.read_sql(r"SELECT * FROM hourly_data", conn)
# daily_df = pd.read_sql(r"SELECT * FROM daily_data", conn)

In [68]:
# print(hourly_df.shape)
# print(daily_df.shape)

(217468, 8)
(9061, 9)

In [69]:
# hourly_df.head()

,date,temperature_2m,relative_humidity_2m,precipitation,weather_code,wind_speed_10m,wind_direction_10m,wind_gusts_10m
0,1999-12-31 21:00:00+00:00,3.0,-1.128,86.920624,0.0,13.722565,355.486084,25.199999
1,1999-12-31 22:00:00+00:00,3.0,-1.328,86.577271,0.0,12.287555,354.957642,25.559999
2,1999-12-31 23:00:00+00:00,3.0,-1.778,87.833557,0.0,12.496719,348.366394,24.480000
3,2000-01-01 00:00:00+00:00,3.0,-1.978,87.486717,0.0,12.849528,348.690094,23.400000
4,2000-01-01 01:00:00+00:00,3.0,-2.128,86.170082,0.0,12.758432,343.610382,24.840000

In [29]:
# daily_df.head(1)

,date,weather_code,temperature_2m_max,temperature_2m_min,temperature_2m_mean,precipitation_sum,wind_speed_10m_max,wind_gusts_10m_max,wind_direction_10m_dominant
0,1999-12-31 21:00:00+00:00,3.0,1.022,-3.178,-1.711334,0.0,14.003029,29.519999,334.442993

In [72]:
# daily_df['temperature_2m_max'].max()

39.87200164794922

<font color = 'red'> **look at the relative_humidity_2m @ hourly_df and temperature_2m_max / min @ daily_df**.</font> 

They are switched somehow. I HAVE TO CHECK IF THE REST OF THE COLUMNS ARE MESSED UP TOO!!!!!!

In [70]:
# hourly_df.describe()

,temperature_2m,relative_humidity_2m,precipitation,weather_code,wind_speed_10m,wind_direction_10m,wind_gusts_10m
count,217468.000000,217468.000000,217468.000000,217468.000000,217468.000000,217468.000000,217468.000000
mean,8.604420,12.540000,71.552457,0.077692,8.883370,188.782813,18.763257
std,19.003642,9.547406,18.169819,0.338891,4.722651,105.350116,9.381616
min,0.000000,-23.377998,14.915503,0.000000,0.000000,0.658531,1.080000
25%,0.000000,5.022000,58.301562,0.000000,5.771239,105.945465,11.879999
50%,1.000000,12.622000,74.064201,0.000000,7.895416,178.727005,16.199999
75%,3.000000,19.802500,87.160889,0.000000,11.183201,288.435028,23.759998
max,75.000000,39.872002,100.000000,13.300000,39.831684,360.000000,91.439995

hourly: temperature_2m = weather_code, relative_humidity_2m = temperature_2m, and precipitation = relative_humidity_2m (%). 


daily: all good

In [71]:
# daily_df.describe()

,weather_code,temperature_2m_max,temperature_2m_min,temperature_2m_mean,precipitation_sum,wind_speed_10m_max,wind_gusts_10m_max,wind_direction_10m_dominant
count,9061.000000,9061.000000,9061.000000,9061.000000,9061.000000,9061.000000,9061.000000,9061.000000
mean,28.817128,17.304740,7.995613,12.540137,1.864640,13.724274,28.691415,189.362232
std,28.189629,9.699988,8.094746,8.909733,4.131497,5.304400,10.437116,106.239360
min,0.000000,-11.378000,-23.377998,-16.900917,0.000000,3.600000,8.280000,0.000005
25%,2.000000,9.672000,1.572000,5.421999,0.000000,9.605998,20.519999,111.265518
50%,3.000000,17.872002,8.302500,12.940750,0.000000,12.682018,27.359999,178.206833
75%,53.000000,25.272001,14.872000,20.004583,1.700000,16.808571,35.279999,289.029266
max,75.000000,39.872002,26.902500,31.942085,42.300003,39.831684,91.439995,359.999969

# <font color='green'> Corrected fetched data in the [fetch_weather_notebook.ipynb](/workspaces/weather-scraper-analyzer/notebooks/01-02-setup_api_store_data/fetch_weather_notebook.ipynb)! Now we are all good to proceed </font>

#### Starting again

In [48]:
import pandas as pd, sqlite3

conn = sqlite3.connect(r"/workspaces/weather-scraper-analyzer/data/weather_data.db")

hourly_df = pd.read_sql(r"SELECT * FROM hourly_data", conn)
daily_df = pd.read_sql(r"SELECT * FROM daily_data", conn)
print(hourly_df.shape)
print(daily_df.shape)

(217585, 9)
(9066, 10)

In [2]:
print("Null values: ",hourly_df.isna().sum())
print("Null values: ",daily_df.isna().sum())

Null values:  index                   0
date                    0
temperature_2m          0
relative_humidity_2m    0
precipitation           0
weather_code            0
wind_speed_10m          0
wind_direction_10m      0
wind_gusts_10m          0
dtype: int64
Null values:  index                          0
date                           0
weather_code                   0
temperature_2m_max             0
temperature_2m_min             0
temperature_2m_mean            0
precipitation_sum              0
wind_speed_10m_max             0
wind_gusts_10m_max             0
wind_direction_10m_dominant    0
dtype: int64

In [49]:
hourly_df.head()

,index,date,temperature_2m,relative_humidity_2m,precipitation,weather_code,wind_speed_10m,wind_direction_10m,wind_gusts_10m
0,0,2000-01-01 00:00:00+00:00,-1.978,87.486717,0.0,3.0,12.849528,348.690094,23.400000
1,1,2000-01-01 01:00:00+00:00,-2.128,86.170082,0.0,3.0,12.758432,343.610382,24.840000
2,2,2000-01-01 02:00:00+00:00,-2.478,86.132591,0.0,3.0,13.441071,339.623474,25.559999
3,3,2000-01-01 03:00:00+00:00,-2.678,85.142136,0.0,3.0,14.003029,342.030762,26.639999
4,4,2000-01-01 04:00:00+00:00,-2.978,85.430328,0.0,3.0,13.896187,343.442841,27.359999

In [50]:
daily_df.head()

,index,date,weather_code,temperature_2m_max,temperature_2m_min,temperature_2m_mean,precipitation_sum,wind_speed_10m_max,wind_gusts_10m_max,wind_direction_10m_dominant
0,0,2000-01-01 00:00:00+00:00,3.0,1.022,-3.178,-1.873833,0.0,14.003029,29.519999,331.603088
1,1,2000-01-02 00:00:00+00:00,3.0,1.472,-4.678,-1.490500,0.0,9.007196,19.440001,14.957217
2,2,2000-01-03 00:00:00+00:00,3.0,-0.228,-4.928,-2.005083,0.0,7.091177,18.719999,219.532852
3,3,2000-01-04 00:00:00+00:00,3.0,1.922,-0.978,0.209500,0.0,5.860375,14.400000,178.264313
4,4,2000-01-05 00:00:00+00:00,3.0,1.872,-1.078,0.147000,0.0,7.704336,16.919998,243.434998

In [51]:
h_to_print = hourly_df.drop(columns=['date', 'index'])
d_to_print = daily_df.drop(columns=['date', 'index'])

def print_min_max():

    print("Hourly dataframe: ")
    for hourly_column in h_to_print.columns:
        max_value = h_to_print[hourly_column].max()
        min_value = h_to_print[hourly_column].min()
        print(f"Max value in column {hourly_column} is {max_value}\
            Min value in column {hourly_column} is {min_value}")

    print("""
    .
    .
    .
        """)
    
    print("Daily dataframe: ")
    for daily_column in d_to_print.columns:
        max_value = d_to_print[daily_column].max()
        min_value = d_to_print[daily_column].min()
        print(f"Max value in column {daily_column} is {max_value}\
            Min value in column {daily_column} is {min_value}")

print_min_max()

Hourly dataframe:
Max value in column temperature_2m is 39.87200164794922            Min value in column temperature_2m is -23.37799835205078
Max value in column relative_humidity_2m is 100.0            Min value in column relative_humidity_2m is 14.915502548217773
Max value in column precipitation is 13.300000190734863            Min value in column precipitation is 0.0
Max value in column weather_code is 75.0            Min value in column weather_code is 0.0
Max value in column wind_speed_10m is 39.83168411254883            Min value in column wind_speed_10m is 0.0
Max value in column wind_direction_10m is 360.0            Min value in column wind_direction_10m is 0.6585307121276855
Max value in column wind_gusts_10m is 91.43999481201172            Min value in column wind_gusts_10m is 1.0800000429153442

    .
    .
    .

Daily dataframe:
Max value in column weather_code is 75.0            Min value in column weather_code is 0.0
Max value in column temperature_2m_max is 39.87200164794922            Min value in column temperature_2m_max is -11.378000259399414
Max value in column temperature_2m_min is 25.722000122070312            Min value in column temperature_2m_min is -23.37799835205078
Max value in column temperature_2m_mean is 31.98583221435547            Min value in column temperature_2m_mean is -16.140501022338867
Max value in column precipitation_sum is 42.400001525878906            Min value in column precipitation_sum is 0.0
Max value in column wind_speed_10m_max is 39.83168411254883            Min value in column wind_speed_10m_max is 3.7064266204833984
Max value in column wind_gusts_10m_max is 91.43999481201172            Min value in column wind_gusts_10m_max is 8.279999732971191
Max value in column wind_direction_10m_dominant is 359.9999694824219            Min value in column wind_direction_10m_dominant is 4.874164005741477e-06

<font color ='green'> **Everything seems GOOD now!** </font>

#### Data preprocessing stage...

In [35]:
hourly_df.columns

Index(['index', 'date', 'temperature_2m_C', 'relative_humidity_2m_percent',
       'precipitation_mm', 'weather_code', 'wind_speed_10m_kmh',
       'wind_direction_10m_deg', 'wind_gusts_10m_kmh'],
      dtype='object')

In [36]:
daily_df.columns

Index(['index', 'date', 'weather_code', 'temperature_2m_max_C',
       'temperature_2m_min_C', 'temperature_2m_mean_C', 'precipitation_sum_mm',
       'wind_speed_10m_max_kmh', 'wind_gusts_10m_max_kmh',
       'wind_direction_10m_dominant_deg'],
      dtype='object')

**Since the columns have different units of measurement, I have to rename them accordingly**

In [37]:
# # modifying with .rename using the dictionary method.

# hourly_df.rename(columns={
#     'temperature_2m': 'temperature_2m_C', # celsius
#     'relative_humidity_2m': 'relative_humidity_2m_percent', # percent
#     'precipitation': 'precipitation_mm', # milimeters
#     'wind_speed_10m': 'wind_speed_10m_kmh', # km/h
#     'wind_direction_10m': 'wind_direction_10m_deg', # degrees
#     'wind_gusts_10m': 'wind_gusts_10m_kmh' # km/h
# }, inplace=True)

# daily_df.rename(columns={
#     'temperature_2m_max': 'temperature_2m_max_C', 
#     'temperature_2m_min': 'temperature_2m_min_C',
#     'temperature_2m_mean': 'temperature_2m_mean_C',
#     'precipitation_sum': 'precipitation_sum_mm',
#     'wind_speed_10m_max': 'wind_speed_10m_max_kmh',
#     'wind_gusts_10m_max': 'wind_gusts_10m_max_kmh',
#     'wind_direction_10m_dominant': 'wind_direction_10m_dominant_deg'
# }, inplace=True)

# print(hourly_df.columns)
# print(daily_df.columns)

#ive done this in the py script

Index(['index', 'date', 'temperature_2m_C', 'relative_humidity_2m_percent',
       'precipitation_mm', 'weather_code', 'wind_speed_10m_kmh',
       'wind_direction_10m_deg', 'wind_gusts_10m_kmh'],
      dtype='object')
Index(['index', 'date', 'weather_code', 'temperature_2m_max_C',
       'temperature_2m_min_C', 'temperature_2m_mean_C', 'precipitation_sum_mm',
       'wind_speed_10m_max_kmh', 'wind_gusts_10m_max_kmh',
       'wind_direction_10m_dominant_deg'],
      dtype='object')

In [38]:
print(hourly_df.head(1))
print(daily_df.head(1))
print(hourly_df.dtypes)
print(hourly_df['date'][0])
print(daily_df.dtypes)
print(daily_df['date'][0])

   index                date  temperature_2m_C  relative_humidity_2m_percent  \
0      0 1999-12-31 21:00:00            -1.128                     86.920624

   precipitation_mm  weather_code  wind_speed_10m_kmh  wind_direction_10m_deg  \
0               0.0           3.0           13.722565              355.486084

   wind_gusts_10m_kmh
0           25.199999
   index                date  weather_code  temperature_2m_max_C  \
0      0 1999-12-31 21:00:00           3.0                 1.022

   temperature_2m_min_C  temperature_2m_mean_C  precipitation_sum_mm  \
0                -3.178              -1.711334                   0.0

   wind_speed_10m_max_kmh  wind_gusts_10m_max_kmh  \
0               14.003029               29.519999

   wind_direction_10m_dominant_deg
0                       334.442993
index                                    int64
date                            datetime64[ns]
temperature_2m_C                       float64
relative_humidity_2m_percent           float64
precipitation_mm                       float64
weather_code                           float64
wind_speed_10m_kmh                     float64
wind_direction_10m_deg                 float64
wind_gusts_10m_kmh                     float64
dtype: object
1999-12-31 21:00:00
index                                       int64
date                               datetime64[ns]
weather_code                              float64
temperature_2m_max_C                      float64
temperature_2m_min_C                      float64
temperature_2m_mean_C                     float64
precipitation_sum_mm                      float64
wind_speed_10m_max_kmh                    float64
wind_gusts_10m_max_kmh                    float64
wind_direction_10m_dominant_deg           float64
dtype: object
1999-12-31 21:00:00

In [47]:
hourly_df['date']

0        1999-12-31 21:00:00
1        1999-12-31 22:00:00
2        1999-12-31 23:00:00
3        2000-01-01 00:00:00
4        2000-01-01 01:00:00
                 ...
217507   2024-10-23 16:00:00
217508   2024-10-23 17:00:00
217509   2024-10-23 18:00:00
217510   2024-10-23 19:00:00
217511   2024-10-23 20:00:00
Name: date, Length: 217512, dtype: datetime64[ns]

In [39]:
# converting date from object to datetime without the unnecessary timezone info at the end 

hourly_df['date'] = pd.to_datetime(hourly_df['date']).dt.tz_localize(None)
daily_df['date'] = pd.to_datetime(daily_df['date']).dt.tz_localize(None)
print(hourly_df['date'].dtypes)
print(daily_df['date'].dtypes)

print(hourly_df['date'][0])
print(daily_df['date'][0])

datetime64[ns]
datetime64[ns]
1999-12-31 21:00:00
1999-12-31 21:00:00

In [40]:
# no duplicates as expected
print(hourly_df.duplicated().sum(), 
      daily_df.duplicated().sum())

0 0

Let's detect outliers now (still part of the preprocessing stage) using 3 methods: 


- **1. Interquartile Range (IQR)**
- **2. Z-Score**
- **3. Modified Z-score (Median Absolute Deviation)**

In [41]:
from scipy import stats


# hourly data
# 1. IQR

hourly_df_outliers = hourly_df.drop(columns=['index', 'weather_code'])
print("hourly data:")
for column in hourly_df_outliers.select_dtypes(include=['float', 'int']).columns:
    Q1 = hourly_df[column].quantile(0.25)
    Q3 = hourly_df[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = hourly_df[(hourly_df[column] < (Q1 - 1.5 * IQR)) | (hourly_df[column] > (Q3 + 1.5 * IQR))]
    print(f"IQR METHOD: Outliers detected in {column}: {len(outliers)} - {int((len(outliers)/hourly_df.shape[0]*100))}%")
    
print(" ")

# 2. Z-score
threshold = 3
for column in hourly_df_outliers.select_dtypes(include=['float', 'int']).columns:
    z_scores = stats.zscore(hourly_df_outliers[column])
    outliers = hourly_df_outliers[(z_scores > threshold) | (z_scores < -threshold)]
    print(f"Z-score method: Outliers detected in {column}: {len(outliers)} - {int((len(outliers)/hourly_df_outliers.shape[0]*100))}%")

print(" ")

# 3. Modified Z-score
def modified_z_score(series):
    median = series.median()
    mad = (series - median).abs().median()
    return 0.6745 * (series - median) / mad

threshold = 3.5
for column in hourly_df_outliers.select_dtypes(include=['float', 'int']).columns:
    mz_scores = modified_z_score(hourly_df_outliers[column])
    outliers = hourly_df_outliers[mz_scores.abs() > threshold]
    print(f"Modified Z-score method: Outliers detected in {column}: {len(outliers)} - {int((len(outliers)/hourly_df_outliers.shape[0]*100))}%")
print(" \n  ")

# daily data
# 1. IQR
daily_df_outliers = daily_df.drop(columns=['index', 'weather_code'])
print("daily data:")

for column in daily_df_outliers.select_dtypes(include=['float', 'int']).columns:
    Q1 = daily_df[column].quantile(0.25)
    Q3 = daily_df[column].quantile(0.75)
    IQR = Q3 - Q1
    outliers = daily_df[(daily_df[column] < (Q1 - 1.5 * IQR)) | (daily_df[column] > (Q3 + 1.5 * IQR))]
    print(f"IQR METHOD: Outliers detected in {column}: {len(outliers)} - {int((len(outliers)/daily_df_outliers.shape[0]*100))}%")

print(" ")
   
# 2. Z-score
threshold = 3

for column in daily_df_outliers.select_dtypes(include=['float', 'int']).columns:
    z_scores = stats.zscore(daily_df_outliers[column])
    outliers = daily_df_outliers[(z_scores > threshold) | (z_scores < -threshold)]
    print(f"Z-score method: Outliers detected in {column}: {len(outliers)} - {int((len(outliers)/daily_df_outliers.shape[0]*100))}%")

print(" ")
# 3. Modified Z-score
threshold = 3.5

for column in daily_df_outliers.select_dtypes(include=['float', 'int']).columns:
    mz_scores = modified_z_score(daily_df_outliers[column])
    outliers = daily_df_outliers[mz_scores.abs() > threshold]
    print(f"Modified Z-score method: Outliers detected in {column}: {len(outliers)} - {int((len(outliers)/daily_df_outliers.shape[0]*100))}%")

hourly data:
IQR METHOD: Outliers detected in temperature_2m_C: 94 - 0%
IQR METHOD: Outliers detected in relative_humidity_2m_percent: 1 - 0%
IQR METHOD: Outliers detected in precipitation_mm: 29609 - 13%
IQR METHOD: Outliers detected in wind_speed_10m_kmh: 8151 - 3%
IQR METHOD: Outliers detected in wind_direction_10m_deg: 0 - 0%
IQR METHOD: Outliers detected in wind_gusts_10m_kmh: 5801 - 2%

Z-score method: Outliers detected in temperature_2m_C: 135 - 0%
Z-score method: Outliers detected in relative_humidity_2m_percent: 17 - 0%
Z-score method: Outliers detected in precipitation_mm: 4206 - 1%
Z-score method: Outliers detected in wind_speed_10m_kmh: 2719 - 1%
Z-score method: Outliers detected in wind_direction_10m_deg: 0 - 0%
Z-score method: Outliers detected in wind_gusts_10m_kmh: 2343 - 1%

Modified Z-score method: Outliers detected in temperature_2m_C: 0 - 0%
Modified Z-score method: Outliers detected in relative_humidity_2m_percent: 0 - 0%
Modified Z-score method: Outliers detected in precipitation_mm: 29609 - 13%
Modified Z-score method: Outliers detected in wind_speed_10m_kmh: 4735 - 2%
Modified Z-score method: Outliers detected in wind_direction_10m_deg: 0 - 0%
Modified Z-score method: Outliers detected in wind_gusts_10m_kmh: 3867 - 1%


daily data:
IQR METHOD: Outliers detected in temperature_2m_max_C: 0 - 0%
IQR METHOD: Outliers detected in temperature_2m_min_C: 11 - 0%
IQR METHOD: Outliers detected in temperature_2m_mean_C: 1 - 0%
IQR METHOD: Outliers detected in precipitation_sum_mm: 1284 - 14%
IQR METHOD: Outliers detected in wind_speed_10m_max_kmh: 165 - 1%
IQR METHOD: Outliers detected in wind_gusts_10m_max_kmh: 107 - 1%
IQR METHOD: Outliers detected in wind_direction_10m_dominant_deg: 0 - 0%

Z-score method: Outliers detected in temperature_2m_max_C: 0 - 0%
Z-score method: Outliers detected in temperature_2m_min_C: 20 - 0%
Z-score method: Outliers detected in temperature_2m_mean_C: 3 - 0%
Z-score method: Outliers detected in precipitation_sum_mm: 222 - 2%
Z-score method: Outliers detected in wind_speed_10m_max_kmh: 88 - 0%
Z-score method: Outliers detected in wind_gusts_10m_max_kmh: 69 - 0%
Z-score method: Outliers detected in wind_direction_10m_dominant_deg: 0 - 0%

Modified Z-score method: Outliers detected in temperature_2m_max_C: 0 - 0%
Modified Z-score method: Outliers detected in temperature_2m_min_C: 0 - 0%
Modified Z-score method: Outliers detected in temperature_2m_mean_C: 0 - 0%
Modified Z-score method: Outliers detected in precipitation_sum_mm: 4374 - 48%
Modified Z-score method: Outliers detected in wind_speed_10m_max_kmh: 57 - 0%
Modified Z-score method: Outliers detected in wind_gusts_10m_max_kmh: 26 - 0%
Modified Z-score method: Outliers detected in wind_direction_10m_dominant_deg: 0 - 0%

In [42]:
hourly_df[hourly_df['weather_code'] == 65].drop(columns=['index']) # finding out all the cases with heavy rainfall 
# we see the heaviest rain in 2009 row 82777

,date,temperature_2m_C,relative_humidity_2m_percent,precipitation_mm,weather_code,wind_speed_10m_kmh,wind_direction_10m_deg,wind_gusts_10m_kmh
22266,2002-07-16 15:00:00,26.522001,73.605751,8.8,65.0,9.000000,106.260277,24.480000
40680,2004-08-21 21:00:00,21.522001,87.576431,11.3,65.0,16.055355,312.273621,32.760002
40796,2004-08-26 17:00:00,20.372002,88.578377,12.1,65.0,9.178235,221.820084,41.039997
48408,2005-07-09 21:00:00,18.172001,98.132111,8.6,65.0,6.696387,216.253922,19.080000
49012,2005-08-04 01:00:00,21.672001,96.686943,11.2,65.0,8.121970,192.804260,27.719999
56948,2006-06-30 17:00:00,22.772001,91.540390,8.5,65.0,5.588703,345.068542,34.919998
64388,2007-05-06 17:00:00,17.372002,94.454987,7.9,65.0,6.130579,229.763718,39.599998
67866,2007-09-28 15:00:00,19.372002,87.938843,8.1,65.0,11.792404,282.339081,35.279999
82777,2009-06-10 22:00:00,19.322001,87.380196,13.3,65.0,20.523157,322.124939,45.719997
92899,2010-08-06 16:00:00,22.672001,88.219376,7.7,65.0,6.287130,66.370613,39.239998
92900,2010-08-06 17:00:00,21.472000,92.028191,9.4,65.0,4.072935,135.000107,41.760002
92901,2010-08-06 18:00:00,20.572001,94.292213,10.2,65.0,5.091168,171.869980,37.439999
127075,2014-06-30 16:00:00,21.322001,85.935623,8.9,65.0,13.910169,259.562561,37.799999
144354,2016-06-19 15:00:00,22.172001,89.550285,9.4,65.0,2.595997,56.309914,27.719999
144355,2016-06-19 16:00:00,21.122002,94.607269,9.1,65.0,3.319036,49.398785,29.879999
144356,2016-06-19 17:00:00,20.722000,95.770561,9.6,65.0,1.800000,360.000000,32.039997
170726,2019-06-23 11:00:00,22.402500,86.576324,9.1,65.0,14.689589,107.102814,29.879999
182065,2020-10-07 22:00:00,14.702500,94.957024,7.9,65.0,10.630672,298.300659,17.639999
196747,2022-06-11 16:00:00,20.402500,86.385475,8.2,65.0,14.007655,295.906433,33.119999
199053,2022-09-15 18:00:00,19.802500,89.370842,10.3,65.0,7.928178,182.602509,30.599998
205144,2023-05-27 13:00:00,18.252501,83.461525,8.6,65.0,7.787991,56.309898,41.399998
205522,2023-06-12 07:00:00,17.202499,95.354027,8.4,65.0,4.334974,85.236443,11.520000
205528,2023-06-12 13:00:00,18.652500,84.581734,7.9,65.0,9.000000,323.130005,19.080000
205800,2023-06-23 21:00:00,20.952499,90.017441,12.4,65.0,6.297428,59.036320,44.279999
205837,2023-06-25 10:00:00,21.802500,80.777328,8.2,65.0,13.896187,323.426880,26.280001
206280,2023-07-13 21:00:00,20.952499,91.712738,11.6,65.0,10.495713,300.963684,29.160000
206849,2023-08-06 14:00:00,18.352501,92.135605,7.8,65.0,11.631956,201.801468,28.080000
210465,2024-01-04 06:00:00,6.702500,83.197708,8.4,65.0,8.942214,229.899155,23.039999
214093,2024-06-03 10:00:00,21.702499,68.714958,10.8,65.0,4.334974,184.763550,22.680000
214101,2024-06-03 18:00:00,18.602501,90.131409,11.0,65.0,20.617661,294.775116,33.839996
214788,2024-07-02 09:00:00,20.152500,88.560402,8.2,65.0,9.585739,325.713074,33.119999
215308,2024-07-24 01:00:00,20.002501,89.386154,9.3,65.0,22.148046,225.658463,41.039997

In [43]:
# let's see what happened on row 82777 - 2009-06-10 in this day
hourly_df[hourly_df['date'].dt.strftime('%Y-%m-%d') == '2009-06-10'].drop(columns=['index'])

,date,temperature_2m_C,relative_humidity_2m_percent,precipitation_mm,weather_code,wind_speed_10m_kmh,wind_direction_10m_deg,wind_gusts_10m_kmh
82755,2009-06-10 00:00:00,19.872002,84.713554,0.0,0.0,7.200000,143.130020,11.520000
82756,2009-06-10 01:00:00,19.322001,86.828926,0.0,0.0,7.200000,143.130020,11.520000
82757,2009-06-10 02:00:00,18.772001,88.166145,0.0,0.0,6.915374,141.340164,11.520000
82758,2009-06-10 03:00:00,20.672001,77.373276,0.0,0.0,6.287130,156.370605,11.159999
82759,2009-06-10 04:00:00,19.372002,86.285606,0.6,53.0,5.315336,241.699341,18.359999
82760,2009-06-10 05:00:00,20.722000,81.660072,0.1,51.0,8.557102,284.620911,23.759998
82761,2009-06-10 06:00:00,22.372002,71.520454,0.0,0.0,6.792466,302.005341,18.000000
82762,2009-06-10 07:00:00,23.672001,65.484131,0.9,53.0,5.860375,312.510406,22.680000
82763,2009-06-10 08:00:00,24.422001,60.835701,0.5,53.0,5.991594,302.735199,23.039999
82764,2009-06-10 09:00:00,25.872002,55.096050,0.0,0.0,9.107359,288.435028,19.440001
82765,2009-06-10 10:00:00,27.222000,49.282589,0.0,1.0,3.758510,343.300690,19.080000
82766,2009-06-10 11:00:00,27.622002,47.073830,0.0,1.0,6.379216,16.389616,27.719999
82767,2009-06-10 12:00:00,28.522001,44.668392,0.0,0.0,5.692100,71.564964,20.160000
82768,2009-06-10 13:00:00,29.172001,43.294067,0.0,0.0,6.151683,110.556129,21.240000
82769,2009-06-10 14:00:00,29.472000,42.278442,0.0,0.0,6.924738,117.897179,22.319998
82770,2009-06-10 15:00:00,29.472000,42.007900,0.0,0.0,8.089993,122.275620,19.799999
82771,2009-06-10 16:00:00,29.272001,42.906788,0.0,1.0,7.903619,120.068497,16.919998
82772,2009-06-10 17:00:00,28.172001,50.484528,0.0,1.0,4.024922,100.304787,13.320000
82773,2009-06-10 18:00:00,25.272001,60.072021,0.1,51.0,5.506941,78.690102,16.199999
82774,2009-06-10 19:00:00,25.472000,60.691238,0.0,1.0,7.517021,73.300674,13.320000
82775,2009-06-10 20:00:00,24.222000,64.775574,0.0,1.0,7.421590,50.906155,15.480000
82776,2009-06-10 21:00:00,21.522001,77.992439,5.9,63.0,12.594856,329.036316,27.359999
82777,2009-06-10 22:00:00,19.322001,87.380196,13.3,65.0,20.523157,322.124939,45.719997
82778,2009-06-10 23:00:00,18.472000,87.303162,7.4,63.0,12.224107,346.372986,43.919998

In [44]:
hourly_df[hourly_df['date'].dt.strftime('%Y-%m-%d') == '2009-06-10']['precipitation_mm'].drop(columns=['index', 'date']).sum()

28.80000038444996

In [45]:
daily_df[daily_df['date'].dt.strftime('%Y-%m-%d') == '2009-06-10'].drop(columns=['index'])

,date,weather_code,temperature_2m_max_C,temperature_2m_min_C,temperature_2m_mean_C,precipitation_sum_mm,wind_speed_10m_max_kmh,wind_gusts_10m_max_kmh,wind_direction_10m_dominant_deg
3449,2009-06-10 21:00:00,65.0,27.222,17.072001,22.226171,29.200001,20.523157,45.719997,275.675262

In [46]:
# finding out how many values precipitation has, the min/max values + the values between them

max_prep = len(hourly_df[hourly_df['precipitation_mm']==hourly_df['precipitation_mm'].max()])
min_prep = len(hourly_df[hourly_df['precipitation_mm']==hourly_df['precipitation_mm'].min()])

print(max_prep)
print(min_prep) 
print(len(hourly_df[(hourly_df['precipitation_mm'] >= max_prep) & (hourly_df['precipitation_mm'] <= min_prep)]))

1
187903
4878

#### Ok it seems that the outliers are valid and are not errors.

**Task 1:  Calculate Statistical Metrics:** 
- Compute average, maximum, and minimum values for temperature, precipitation, and wind speed across different time frames (monthly, yearly, seasonally).
 - Identify periods of high variability (standard deviation) and identify trends like warming or cooling over the years.

In [18]:
daily_df.head()

,index,date,weather_code,temperature_2m_max_C,temperature_2m_min_C,temperature_2m_mean_C,precipitation_sum_mm,wind_speed_10m_max_kmh,wind_gusts_10m_max_kmh,wind_direction_10m_dominant_deg
0,0,1999-12-31 21:00:00,3.0,1.022,-3.178,-1.711334,0.0,14.003029,29.519999,334.442993
1,1,2000-01-01 21:00:00,3.0,1.472,-3.528,-1.278000,0.0,9.007196,19.440001,15.975966
2,2,2000-01-02 21:00:00,3.0,-0.228,-4.928,-2.430083,0.0,7.091177,18.719999,244.041290
3,3,2000-01-03 21:00:00,3.0,1.922,-1.078,0.167833,0.0,5.860375,14.400000,173.779129
4,4,2000-01-04 21:00:00,3.0,1.872,-1.078,0.063667,0.0,7.704336,16.919998,243.012177

AM DAT MAIL LA OPEN-METEO SA INTELEG CE E CU ORA 21 ACOLO SI DACA NU CUMVA E O CHESTIE DE TIMEZONE...???? 

RAMANE SA AFLU SI DUPA CONTINUI

**UPDATE, dupa mail primit de la Patrick Zippenfenig - Open-Meteo:**

<font color = 'orange'> **E o chestie de timezone. 21 ii 00:00**

In [19]:
daily_df.drop(columns=(['index', 'date', 'weather_code'])).describe()

,temperature_2m_max_C,temperature_2m_min_C,temperature_2m_mean_C,precipitation_sum_mm,wind_speed_10m_max_kmh,wind_gusts_10m_max_kmh,wind_direction_10m_dominant_deg
count,9063.000000,9063.000000,9063.000000,9063.000000,9063.000000,9063.000000,9063.000000
mean,17.305176,7.994660,12.539616,1.864228,13.723712,28.689493,189.336307
std,9.698962,8.094123,8.908824,4.131134,5.303952,10.436807,106.242850
min,-11.378000,-23.377998,-16.900917,0.000000,3.600000,8.280000,0.000005
25%,9.672000,1.572000,5.423042,0.000000,9.605998,20.519999,110.953640
50%,17.872002,8.272000,12.938667,0.000000,12.682018,27.359999,178.174820
75%,25.272001,14.872000,20.003917,1.700000,16.808570,35.279999,289.000931
max,39.872002,26.902500,31.942085,42.300003,39.831684,91.439995,359.999969

In [26]:
len(daily_df[daily_df['precipitation_sum_mm'] < 42.300003])

9062

In [20]:
hourly_df.drop(columns=(['index', 'date', 'weather_code'])).describe()

,temperature_2m_C,relative_humidity_2m_percent,precipitation_mm,wind_speed_10m_kmh,wind_direction_10m_deg,wind_gusts_10m_kmh
count,217512.000000,217512.000000,217512.000000,217512.000000,217512.000000,217512.000000
mean,12.539616,71.552367,0.077676,8.883139,188.770474,18.762189
std,9.546809,18.169476,0.338858,4.722311,105.352600,9.381058
min,-23.377998,14.915503,0.000000,0.000000,0.658531,1.080000
25%,5.022000,58.301290,0.000000,5.771239,105.945465,11.879999
50%,12.622000,74.064152,0.000000,7.895416,178.727005,16.199999
75%,19.802500,87.160080,0.000000,11.183201,288.138184,23.759998
max,39.872002,100.000000,13.300000,39.831684,360.000000,91.439995

In [21]:
daily_df[daily_df['precipitation_sum_mm'] == daily_df['precipitation_sum_mm'].max()]

,index,date,weather_code,temperature_2m_max_C,temperature_2m_min_C,temperature_2m_mean_C,precipitation_sum_mm,wind_speed_10m_max_kmh,wind_gusts_10m_max_kmh,wind_direction_10m_dominant_deg
3573,3573,2009-10-12 21:00:00,63.0,12.772,5.022,7.732418,42.300003,34.763771,80.639999,322.346954

In [34]:
oct_12 = hourly_df[hourly_df['date'].dt.strftime('%Y-%m-%d') == '2009-10-12'].drop(columns=['index'])
oct_12['precipitation_mm'].sum()

10.500000096857548

In [33]:
oct_13 = hourly_df[hourly_df['date'].dt.strftime('%Y-%m-%d') == '2009-10-13'].drop(columns=['index'])
oct_13['precipitation_mm'].sum()

35.899999752640724

seems that this doesnt add up...

<font color = 'orange'> **Seems that regarding daily_df something is wrong with october 12. All the values don't correspond to the hourly_df for the same day**

This is because of the timezone. I have to fetch all the data again with NO TIMEZONE SET (GMT)

<font color ='green'> **Finally I have the good data** </font>